{% extends "core/base.html" %}

{% block pageContent %}

<!--Section: Content-->
<section class="text-center">

    <div class="row">
        {% comment %} {% if user.profile.user_type == 1 %} {% endcomment %}
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-primary text-start summary-card my-3">
                <div class="card-body">
                    <div class="d-flex w-100">
                        <div class="col-8 pe-2">
                            <div class="summary-title fs-5 border-bottom">Total Department</div>
                            <div class="summary-count text-end fw-bolder mt-3 px-4">{{ departments }}</div>
                        </div>
                        <div class="col-4">
                            <div class="summary-icon p-3 rounded border text-center bg-gradient bg-light">
                                <i class="fa fa-building fs-2"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-warning text-start summary-card my-3">
                <div class="card-body">
                    <div class="d-flex w-100">
                        <div class="col-8 pe-2">
                            <div class="summary-title fs-5 border-bottom">Total Courses</div>
                            <div class="summary-count text-end fw-bolder mt-3 px-4">{{ courses }}</div>
                        </div>
                        <div class="col-4">
                            <div class="summary-icon p-3 rounded border text-center  bg-gradient bg-warning">
                                <i class="fa fa-th-list fs-2"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-info text-start summary-card my-3">
                <div class="card-body">
                    <div class="d-flex w-100">
                        <div class="col-8 pe-2">
                            <div class="summary-title fs-5 border-bottom">Total Faculty</div>
                            <div class="summary-count text-end fw-bolder mt-3 px-4">{{ faculty }}</div>
                        </div>
                        <div class="col-4">
                            <div class="summary-icon p-3 rounded border text-center  bg-gradient bg-info">
                                <i class="fa fa-users fs-2"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} {% endif %} {% endcomment %}

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-primary text-start summary-card my-3">
                <div class="card-body">
                    <div class="d-flex w-100">
                        <div class="col-8 pe-2">
                            <div class="summary-title fs-5 border-bottom">Total Classes</div>
                            <div class="summary-count text-end fw-bolder mt-3 px-4">{{ classes }}</div>
                        </div>
                        <div class="col-4">
                            <div class="summary-icon p-3 rounded border text-center  bg-gradient bg-primary text-light">
                                <i class="fa fa-building fs-2"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-dark text-start summary-card my-3">
                <div class="card-body">
                    <div class="d-flex w-100">
                        <div class="col-8 pe-2">
                            <div class="summary-title fs-5 border-bottom">Total Student</div>
                            <div class="summary-count text-end fw-bolder mt-3 px-4">{{ students }}</div>
                        </div>
                        <div class="col-4">
                            <div class="summary-icon p-3 rounded border text-center  bg-gradient bg-dark text-light">
                                <i class="fa fa-user-friends fs-2"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


</div> {% endblock pageContent %}